html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#all-container {
	display: flex;
	flex-flow: column;
	height: 100%;
	border: 1px dotted grey;
}

#header-container {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
}

#content-container {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

#content-footer {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 40px;
}